<img src="~/images/RussosPizzeriaLogo.jpg" /><h1>Välkommen till Russo´s -NEW YORK- Pizzeria i Stockholm!</h1>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h3>Inloggad som @ViewBag.Message</h3>
}

<h1>Hitta hit !</h1>
<img src="~/images/RussosPizzeriaFasad.jpg" />
<p>
    Lugnagatan 112<br />
    12345 Långtbortistan<br />
    Telefon 00-1234567<br /><br />
    Öppettider:<br />
    Mån-Tors kl 10-22<br />
    Fre-Lör  kl 10-01<br />
    Sön      Kl 11-22<br />

</p>
